# Default ignored files
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# target folder so we don't accidentally commit and cause troubles
/target/

# Ignore .idea
/.idea/

# Ignore save files
*.db
/local_data/